<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield (:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('fire-40.png') %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

 <body>

       <%= render "layouts/navbar" %>

       <div class="container-fluid">

         <% flash.each do |message_type, message| %>
           <div class="alert alert-<%= message_type %> alert-dismissible mb-3 mt-3 fade-show">
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
             </button>
             <strong> <%= message %> </strong>
           </div>
         <% end %>

         <%= yield %>
       </div>

       <%= render "layouts/footer" %>
       <%= javascript_include_tag 'jquery-3.6.0.min.js' %>
       <%= javascript_include_tag 'jquery.dataTables.min.js' %>
       <%= javascript_include_tag 'dataTables.bootstrap5.min.js' %>
       <%= javascript_include_tag 'bootstrap.min.js' %>
       <%= javascript_include_tag 'all.min.js' %>
       <%= javascript_include_tag 'table.js' %>




 </body>

</html>
