<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield (:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('fire-40.png') %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'bootstrap.min.js' %>
  </head>

 <body>

       <%= render "layouts/navbar" %>

       <div class="container-fluid">
         <%= yield %>
       </div>

       <%= render "layouts/footer" %>


 </body>

</html>
